/* NAVIGATIONSBAR */

body {
  margin: 0;
  background-color: #2E261B;
}

header {
  width: 100%;
  height: 11%;
  background-color: #EBE3D8;
  text-align: center;
  position: fixed;
  z-index: 10;
  display: inline-block;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}


header img {
  width: 18%;
  margin-top: 4%;
  position: absolute;
}

.logoheader {
  margin-left: -8%;
}

.open {
  float: right;
  margin-right: 6%;
  color: #9d2429;
  margin-top: 2.5%;
  position: relative;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  color: #EBE3D8;
  display: block;
  transition: 0.3s;
  letter-spacing: 0.8px;
  font-family: 'PT Sans', sans-serif;
}

.overlay a:hover, .overlay a:focus {
  color: #9d2429;
}

.overlay .closebtn {
  position: absolute;
  right: 4%;
  top: -2%;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
.overlay {overflow-y: auto;}
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}

.hr1 {
 text-align: center;
 width: 70%;
 color: #EBE3D8;
 margin-top: 15px;
 margin-bottom: 15px;
}

/*------------------------ KORT OVER ZOO -------------------*/


.zookort {
  width: 100%;
  height: 100%;
  margin-top: 22%;
}

.logohvidkort {
  width: 18%;
  margin-left: 41%;
  margin-top: 2%;
}


/* --------------------- FORSIDE ------------------*/


.billede1 img {
  width: 100%;
  margin-top: 22.5%;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst1 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17%;
}

.billede2 img {
  width: 100%;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst2 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17%;
}

.billede3 img {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst3 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17%;
}

.billede4 img {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst4 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17%;
}

.billede5 img {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst5 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -26%;
  margin-bottom: 12%;
}

.billede6 img {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst6 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17.5%;
}

/* DAGENS PROGRAM */

/* KALENDER */

.kalendertekst {
  font-family: 'PT sans', sans-serif;
  color: #EBE3D8;
  font-size: 24px;
  margin-top: -18%;
  text-align: center;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
  font-family: 'PT Sans', sans-serif;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 25%;
  font-family: 'Open Sans', sans-serif;
  margin-top: 35%;
  margin-left: 37%;
}


.infoboks {
  width: 75%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 9%;
  margin-left: 12.5%;
  border-radius: 5px;
  background-color: #D0C8BA;
}

.infotekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
}

.slangeboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 35%;
  margin-left: 5%;
  border-radius: 5px;
}

.slangebokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 45%;
  margin-left: 18%;
}

.abeboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.abebokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.pingvinboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.pingvinbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.lemurboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.lemurbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.bagkulissenboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.bagkulissenbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.lysshowboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.lysshowbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.zoolukkerboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.zoolukkerbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.logohviddagplan {
  width: 18%;
  margin-left: 41%;
  margin-top: 8%;
  margin-bottom: 8%;
}


/* ---------------ÅBNINGSTIDER OG PRISER ---------------*/


/* JANUAR MARTS 2020 */

.januarmartstider {
  width: 90%;
  height: 71%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 25%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.januarmartstideroverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.januarmartstiderunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.januar1februar7 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.januar1februar7text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.februar8februar15 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.februar8februar15text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.februar16februar29 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.februar16februar29text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.marts1marts31 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.marts1marts31text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

/* APRIL JUNI 2020 */

.apriljunitider {
  width: 90%;
  height: 123%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 155%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.apriljunitideroverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.apriljunitiderunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.april1april3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.april1april3text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.april4april13 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.april4april13text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.april14maj7 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.april14maj7text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj8 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj8text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj9maj20 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj9maj20text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj21maj24 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj21maj24text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj25maj29 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj25maj29text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj30juni1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj30juni1text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.juni2juni30 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.juni2juni30text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

/* JULI OKTOBER 2020 */

.julioktobertider {
  width: 90%;
  height: 74%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 377%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.julioktobertideroverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.julioktobertiderunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.juli1august9 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.juli1august9text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.august10oktober9 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.august10oktober9text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.oktober10oktober17 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.oktober10oktober17text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.oktober18 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.oktober18text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.oktober19oktober31 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.oktober19oktober31text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

/* NOVEMBER DECEMBER 2020 */

.novemberdecembertider {
  width: 90%;
  height: 87%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 512%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.novemberdecembertideroverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.novemberdecembertiderunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.november1november12 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.november1november12text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.november13 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.november13text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.november14november23 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.november14november23text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.december24 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.december24text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.december25december30 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.december25december30text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.december31 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.december31text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}


/* ---- PRISER ---- */

.almpris {
  width: 90%;
  height: 47%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 670%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.almprisoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.voksenpris {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.voksenpristext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}


.barnpris {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.barnpristext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.studerendepris {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.studerendepristext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.infopris {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 15px;
}

.infopristext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 14px;
  margin-top: -4%;
}

/* ---- ZOO VEN PRISER ---- */

.zooven {
  width: 90%;
  height: 55%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 757%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.zoovenoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.zoovenunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.zoovenvoksen {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.zoovenvoksentext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.zoovenbarn {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.zoovenbarntext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.zoovensenior {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.zoovenseniortext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.zoovenårskortinfotext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 14px;
}


/* ---- ZOO GRUPPE PRISER ---- */

.priserforgrupper {
  width: 90%;
  height: 40%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 857%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.priserforgrupperoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.priserforgrupperunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.gruppeprisvoksen {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.gruppeprisvoksentext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.gruppeprisbarn {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.gruppeprisbarntext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.gruppeprisinfotext {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 14px;
}


/* ---- ÆLDRESAGEN ---- */

.aldresagen {
  width: 90%;
  height: 40%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 930%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.aldresagenoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.aldresagenunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.betingelserforaldresagen {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.betingelserforaldresagentext1 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: 4%;
}

.betingelserforaldresagentext2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: 4%;
}



.logohvidtiderogpriser {
  width: 18%;
  margin-left: 41%;
  margin-top: 1010%;
  margin-bottom: 8%;
}

/* ----------------- QR-SCANNER ----------------- */


.pingvinbaggrund {
  width: 100%;
  max-height: 100%;
  height: 100vh;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 60%;
}

.qrscannerlogo {
  width: 50%;
  position:absolute;
  z-index: 2;
  margin-top:-120%;
  margin-left: 25%;
  filter: drop-shadow(7px 7px 7px #222);
}

.scanknap {
  width: 40%;
  background-color: #fff;
  border-color: #fff;
  border: none;
  height: 5%;
  border-radius: 5px;
  margin-left: 30%;
  font-family: 'PT sans', sans-serif;
  font-size: 18px;
  position: absolute;
  z-index: 4;
  margin-top: -60%;
  filter: drop-shadow(4px 4px 10px #222);
}

.pingvinzoologo {
  width: 20%;
  z-index: 99;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 40%;
  position: relative;
}


/*-------------------------- SPISNING -------------------------*/


.madinfo {
  width: 90%;
  height: 40%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 25%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.madinfooverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.madinfounderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-top: 4%;
  margin-left: 2.5%
}

/* CHUNGA */

.chunga {
  width: 90%;
  height: 75%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 100%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffffff;
}

.chungaoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.chungaunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-top: 4%;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.chungatider {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.chungabillede {
  width: 100%;
  height: 23%;
  border-radius: 5px;
}

/* SAFARI */

.safari {
  width: 90%;
  height: 68%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 240%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffffff;
}

.safarioverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.safariunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-top: 4%;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.safaritider {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.safaribillede {
  width: 100%;
  height: 23%;
  border-radius: 5px;
}

/* BONDEGÅRDEN */

.bondegaarden {
  width: 90%;
  height: 65%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 365%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffffff;
}

.bondegaardenoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.bondegaardenunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-top: 4%;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.bondegaardentider {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.bondegaardenbillede {
  width: 100%;
  height: 23%;
  border-radius: 5px;
}

/* TIGERIS */

.tigeris {
  width: 90%;
  height: 65%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 485%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffffff;
}

.tigerisoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.tigerisunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-top: 4%;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.tigeristider {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.tigerisbillede {
  width: 100%;
  height: 23%;
  border-radius: 5px;
}


/* DYREHAVEN */

.dyrehaven {
  width: 90%;
  height: 60%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 605%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffffff;
}

.dyrehavenoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.dyrehavenunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-top: 4%;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.dyrehaventider {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%
}

.dyrehavenbillede {
  width: 100%;
  height: 23%;
  border-radius: 5px;
}


/* MEDBRAGT MAD */

.medbragtmad {
  width: 90%;
  height: 70%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 715%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffffff;
}

.medbragtmadoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.medbragtmadunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-top: 4%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.medbragtmadbillede {
  width: 100%;
  height: 23%;
  border-radius: 5px;
}

.logohvidspisning {
  width: 18%;
  margin-left: 41%;
  margin-top: 850%;
  margin-bottom: 8%;
}


/* -------------------- INFO OM DYR ---------------- */

.chimpansebillede {
  width: 100%;
  height: 20%;
  margin-top: 19%;
}

.stempelinfochimpanse {
  width: 90%;
  height: 13%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 65%;
  margin-left: -95%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.stempelinfochimpansebillede {
  width: 15%;
  height: 45%;
  border-radius: 5px;
  margin-top: 4%;
}

.stempelinfochimpanseoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: -0.1%;
}

.chimpanseinfo {
  width: 90%;
  height: 68%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 95%;
  margin-left: -95%;
  border-radius: 5px;
  background-color: #ffff;
}

.chimpanseinfooverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 18px;
  margin-left: 4%;
}

.chimpanseinfounderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 15px;
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 4%;
  margin-right: 4%;
}

/* ------ CHIMPANSE MAD ------ */

.chimpansemad {
  width: 90%;
  height: 30%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 220%;
  margin-left: -95%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.chimpansemadbillede {
  width: 15%;
  height: 25%;
  border-radius: 5px;
  margin-top: 6%;
}

.chimpansemadoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 15px;
}

.chimpansemadunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 4%;
  margin-right: 4%;
}


/* ------ CHIMPANSE LEVESTED ------ */

.chimpanselevested {
  width: 90%;
  height: 23%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 275%;
  margin-left: -95%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.chimpanselevestedbillede {
  width: 14%;
  height: 28%;
  border-radius: 5px;
  margin-top: 6%;
}

.chimpanselevestedoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 15px;
}

.chimpanselevestedunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 4%;
  margin-right: 4%;
}

/* ------ CHIMPANSE LEVETID ------ */

.chimpanselevetid {
  width: 90%;
  height: 25%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 317.5%;
  margin-left: -95%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.chimpanselevetidbillede {
  width: 12%;
  height: 26%;
  border-radius: 5px;
  margin-top: 6%;
}

.chimpanselevetidoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 15px;
}

.chimpanselevetidunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 4%;
  margin-right: 4%;
}

/* ------ CHIMPANSE vægt ------ */

.chimpansevaagt {
  width: 90%;
  height: 25%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 363.5%;
  margin-left: -95%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.chimpansevaagtbillede {
  width: 15%;
  height: 28%;
  border-radius: 5px;
  margin-top: 6%;
}

.chimpansevaagtoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 15px;
}

.chimpansevaagtunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 4%;
  margin-right: 4%;
}


/* ------ CHIMPANSE DRÆGTIGHED ------ */

.chimpansegravid {
  width: 90%;
  height: 23%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 410%;
  margin-left: -95%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.chimpansegravidbillede {
  width: 20%;
  height: 27%;
  border-radius: 5px;
  margin-top: 6%;
}

.chimpansegravidoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 15px;
}

.chimpansegravidunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 4%;
  margin-right: 4%;
}

/* ------ CHIMPANSE STATUS ------ */

.chimpansestatus {
  width: 90%;
  height: 23%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 453%;
  margin-left: -95%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.chimpansestatusbillede {
  width: 15%;
  height: 25%;
  border-radius: 5px;
  margin-top: 6%;
}

.chimpansestatusoverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 15px;
}

.chimpansestatusunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 4%;
  margin-right: 4%;
}

.logohvidchimpanse {
  width: 18%;
  margin-left: 41%;
  margin-top: 150%;
  margin-bottom: 8%;
}

/* -------------- STEMPELJAGT -------------------- */


.stempeljagtboks1 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 30%;
  margin-left: 10%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.stempelbillede1 {
  width: 70%;
  height: 80%;
  border-radius: 5px;
  padding-top: 10%;
}

.stempeljagtboks2 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 30%;
  margin-left: 40%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.stempelbillede2 {
  width: 85%;
  height: 80%;
  border-radius: 5px;
  padding-top: 10%;
}

.stempeljagtboks3 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 30%;
  margin-left: 70%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.stempelbillede3 {
  width: 60%;
  height: 80%;
  border-radius: 5px;
  padding-top: 10%;
}

.stempeljagtboks4 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 55%;
  margin-left: 10%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.stempelbillede4 {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  padding-top: 10%;
}

.stempeljagtboks5 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 55%;
  margin-left: 40%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.stempelbillede5 {
  width: 85%;
  height: 80%;
  border-radius: 5px;
  padding-top: 10%;
}

.stempeljagtboks6 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 55%;
  margin-left: 70%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.stempelbillede6 {
  width: 70%;
  height: 80%;
  border-radius: 5px;
  padding-top: 10%;
}

.stempeljagtboks7 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 80%;
  margin-left: 10%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.popuphint1 {
  color: #922e2e;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 20px;
}

.stempeljagtboks8 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 80%;
  margin-left: 40%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.popuphint2 {
  color: #922e2e;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 20px;
}

.stempeljagtboks9 {
  width: 20%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 80%;
  margin-left: 70%;
  border-radius: 5px;
  background-color: #EBE3D8;
}

.popuphint3 {
  color: #922e2e;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding-bottom: -50%;
  position: relative;
  top: 20px;
}

.gevinst {
  width: 80%;
  height: 30%;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 102%;
  margin-left: 10%;
  border-radius: 5px;
}

.gevinsttekst {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
}


.popupinfo1 {
  width: 90%;
  height: 51%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 29%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: black;
  opacity: 88%;
}

.popupinfotekst1 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
}

.luk1 {
  width: 5%;
  height: 3%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 32%;
  margin-left: 85%;
  border-radius: 5px;
}


/* ----------------- LOG IND ------------------------- */

.lovebaggrund {
  width: 100%;
  max-height: 100%;
  height: 100vh;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 45%;
}

.logindkasse {
  width: 80%;
  height: 50%;
  position: absolute;
  z-index: -2;
  margin-top: 40%;
  margin-left: -90%;
  border-radius: 5px;
  background-color: white;
  filter: drop-shadow(3px 3px 3px #000);
}




/* Full-width inputs */
input[type=text], input[type=password], input[type=E-mailadresse] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
}

/* Brugernavn og adgangskode */
.containerprofil {
  padding: 16px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: black;
  margin-top: -130%;
  opacity: 99%;
  width: 70%;
  margin-left: 10%;
}


.logindknap {
  background-color: #9D2429;
  color: #ffffff;
  padding: 8px 20px;
  margin: 4px 0;
  width: 40%;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  border: 1px solid #9D2429;
  margin-left: 30%;
  margin-right: auto;
  text-align: center;
  margin-bottom: -10px;
  text-decoration: none;
  font-size: 14px;
  opacity: 99%;
}

.logindknap a {
  color: #ffffff;
}

.forblivloggetind {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  margin-top: -40%;
  margin-left: -40%;
}

.logohvidlogind {
  width: 40%;
  margin-left: 30%;
  margin-top: 30%;
  margin-bottom: 8%;
}


/* --------------------- MIT KORT ---------------------- */

.dyrbaggrund {
  width: 100%;
  max-height: 100%;
  height: 100vh;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 75%;
}

.mitkortkasse {
  width: 80%;
  height: 60%;
  position: absolute;
  z-index: 2;
  margin-top: 30%;
  margin-left: -90%;
  border-radius: 5px;
  background-color: white;
  opacity: 50%;
  filter: drop-shadow(6px 6px 6px #000);
}

.mitkortoverskrift {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: black;
text-align: center;
font-size: 16px;
z-index: 4;
}

.mitkortstregkode {
  width: 40%;
  margin-left: 30%;
  margin-top: -3%;
  z-index: 4;
}

.idoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  padding-left: 8%;
  padding-top: 5%;
  z-index: 4;
}

.idoverskrift2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  padding-left: 8%;
  z-index: 4;
}

.idoverskrift3 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  padding-left: 8%;
  z-index: 4;
}

.idoverskrift4 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  padding-left: 8%;
  font-weight: bold;
  z-index: 4;
}



.fornykort {
  width: 40%;
  height: 5%;
  position: absolute;
  z-index: -2;
  margin-top: 120%;
  margin-left: -70%;
  border-radius: 5px;
  background-color: #9D2429;
  z-index: 4;
}

.fornykortoverskrift {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: white;
text-align: center;
font-size: 16px;
z-index: 4;
margin-top: 4%;
}

.tilbagetiloversigt {
  width: 40%;
  height: 5%;
  position: absolute;
  z-index: -2;
  margin-top: 155%;
  margin-left: -70%;
  border-radius: 5px;
  background-color: #9D2429;
  z-index: 4;
}

.tilbagetiloversigt1 {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: white;
text-align: center;
font-size: 14px;
z-index: 4;
margin-top: 4%;
}


/* ------------------------ NYHEDER ------------------------- */

.nyhed1 {
  width: 70%;
  height: 30%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 30%;
  margin-left: 15%;
  border-radius: 5px;
  background-color: white;

}

.nyhed1dato {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  z-index: 4;
  margin-top: 5%;
  margin-left: 5%;
}

.nyhed1overskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-top: 15%;
}

.læsmere1 {
  width: 25%;
  height: 4%;
  position: absolute;
  z-index: -2;
  margin-top: 70%;
  margin-left: 38%;
  border-radius: 5px;
  background-color: #9D2429;
  z-index: 4;
}

.læsmere1tekst {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: white;
text-align: center;
font-size: 12px;
z-index: 4;
margin-top: 5%;
}

.nyhed2 {
  width: 70%;
  height: 30%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 88%;
  margin-left: 15%;
  border-radius: 5px;
  background-color: white;
}

.nyhed2dato {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  z-index: 4;
  margin-top: 5%;
  margin-left: 5%;
}

.nyhed2overskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-top: 10%;
}

.læsmere2 {
  width: 25%;
  height: 4%;
  position: absolute;
  z-index: -2;
  margin-top: 128%;
  margin-left: 38%;
  border-radius: 5px;
  background-color: #9D2429;
  z-index: 4;
}

.læsmere2tekst {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: white;
text-align: center;
font-size: 12px;
z-index: 4;
margin-top: 5%;
}

.nyhed3 {
  width: 70%;
  height: 30%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 146%;
  margin-left: 15%;
  border-radius: 5px;
  background-color: white;
}

.nyhed3dato {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  z-index: 4;
  margin-top: 5%;
  margin-left: 5%;
}

.nyhed3overskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-top: 10%;
}

.læsmere3 {
  width: 25%;
  height: 4%;
  position: absolute;
  z-index: -2;
  margin-top: 186%;
  margin-left: 38%;
  border-radius: 5px;
  background-color: #9D2429;
  z-index: 4;
}

.læsmere3tekst {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: white;
text-align: center;
font-size: 12px;
z-index: 4;
margin-top: 5%;
}

.nyhed4 {
  width: 70%;
  height: 30%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 205%;
  margin-left: 15%;
  border-radius: 5px;
  background-color: white;
}

.nyhed4dato {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  z-index: 4;
  margin-top: 5%;
  margin-left: 5%;
}

.nyhed4overskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-top: 10%;
}

.læsmere4 {
  width: 25%;
  height: 4%;
  position: absolute;
  z-index: -2;
  margin-top: 245%;
  margin-left: 38%;
  border-radius: 5px;
  background-color: #9D2429;
  z-index: 4;
}

.læsmere4tekst {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: white;
text-align: center;
font-size: 12px;
z-index: 4;
margin-top: 5%;
}

.nyhederlogo {
  width: 20%;
  margin-left: 40%;
  margin-top: 270%;
  margin-bottom: 8%;
}

/* ------------------- OVERSIGT OVER ÅRSKORT --------------- */

.aarskortbaggrund {
  width: 100%;
  max-height: 100%;
  height: 100vh;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 60%;
}

.aarskortkasse1 {
  width: 80%;
  height: 20%;
  position: absolute;
  z-index: 2;
  margin-top: 30%;
  margin-left: -90%;
  border-radius: 5px;
  background-color: white;
  opacity: 60%;
  filter: drop-shadow(6px 6px 6px #000);
}

.aarskortoverskrift1 {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: black;
text-align: center;
font-size: 16px;
z-index: 4;
margin-top: 5%;
}

.aarskortstregkode1 {
  width: 40%;
  margin-left: 58%;
  margin-top: 2%;
  z-index: 4;
}

.aarskortnavn1 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -15%;
  z-index: 4;
}

.aarskortkasse2 {
  width: 80%;
  height: 20%;
  position: absolute;
  z-index: 2;
  margin-top: 70%;
  margin-left: -90%;
  border-radius: 5px;
  background-color: white;
  opacity: 60%;
  filter: drop-shadow(6px 6px 6px #000);
}

.aarskortoverskrift2 {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: black;
text-align: center;
font-size: 16px;
z-index: 4;
margin-top: 5%;
}

.aarskortstregkode2 {
  width: 40%;
  margin-left: 58%;
  margin-top: 2%;
  z-index: 4;
}

.aarskortnavn2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -15%;
  z-index: 4;
}

.aarskortkasse3 {
  width: 80%;
  height: 20%;
  position: absolute;
  z-index: 2;
  margin-top: 110%;
  margin-left: -90%;
  border-radius: 5px;
  background-color: white;
  opacity: 60%;
  filter: drop-shadow(6px 6px 6px #000);
}

.aarskortoverskrift3 {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: black;
text-align: center;
font-size: 16px;
z-index: 4;
margin-top: 5%;
}

.aarskortstregkode3 {
  width: 40%;
  margin-left: 58%;
  margin-top: 2%;
  z-index: 4;
}

.aarskortnavn3 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -15%;
  z-index: 4;
}

.aarskortkasse4 {
  width: 80%;
  height: 20%;
  position: absolute;
  z-index: 2;
  margin-top: 150%;
  margin-left: -90%;
  border-radius: 5px;
  background-color: white;
  opacity: 60%;
  filter: drop-shadow(6px 6px 6px #000);
}

.aarskortoverskrift4 {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: black;
text-align: center;
font-size: 16px;
z-index: 4;
margin-top: 5%;
}

.aarskortstregkode4 {
  width: 40%;
  margin-left: 58%;
  margin-top: 2%;
  z-index: 4;
}

.aarskortnavn4 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -15%;
  z-index: 4;
}


/* ------ FOOTER ------ */

.footer {
  background-color: #9d2429;
  height: 190px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
}

.footer a {
  color: #EBE3D8;
  text-decoration: none;
}

.footertekst {
  color: #EBE3D8;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  margin-top: 3.5%;
  margin-bottom: 5%;
}

.fblogo {
  width: 12%;
  margin-left: 37%;
  margin-top: 5%;
}

.instalogo {
  width: 12%;
  margin-top: 5%;
}
