/* NAVIGATIONSBAR */

body {
  margin: 0;
  background-color: #2E261B;
}

.headertekst {
  font-family: 'PT sans', sans-serif;
  color: #9d2429;
  font-size: 20px;
  margin-top: 5%;
}

.headerstykke {
  width: 100%;
  height: 11%;
  background-color: #EBE3D8;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}

.headerstykke img {
  width: 18%;
  margin-top: 4%;
  position: absolute;
}

.logoheader {
  margin-left: -8%;
}

.open {
  float: right;
  margin-right: 6%;
  color: #9d2429;
  margin-top: 2.5%;
  font-size: 40px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #EBE3D8;
  display: block;
  transition: 0.3s;
  font-family: 'PT Sans', sans-serif;
}

.overlay a:hover, .overlay a:focus {
  color: #9d2429;
}

.overlay .closebtn {
  position: absolute;
  right: 4%;
  top: -2%;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
.overlay {overflow-y: auto;}
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}

.hr1 {
 text-align: center;
 width: 70%;
 color: #EBE3D8;
}

/*------------------------ KORT OVER ZOO -------------------*/


.zookort {
  width: 100%;
  height: 100%;
  margin-top: 6%;
}

.logohvidkort {
  width: 18%;
  margin-left: 41%;
  margin-top: 2%;
}


/* --------------------- DAGENS PROGRAM ------------------*/


.billede1 img {
  width: 100%;
  margin-top: 10%;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst1 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17%;
}

.billede2 img {
  width: 100%;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst2 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17%;
}

.billede3 img {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst3 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17%;
}

.billede4 img {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst4 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17%;
}

.billede5 img {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst5 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -26%;
  margin-bottom: 12%;
}

.billede6 img {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #EBE3D8;
  border-bottom: 1px solid #EBE3D8;
}

.forsidetekst6 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -23%;
  margin-bottom: 17.5%;
}

/* DAGENS PROGRAM */

/* KALENDER */

.kalendertekst {
  font-family: 'PT sans', sans-serif;
  color: #9d2429;
  font-size: 24px;
  margin-top: -18%;
  text-align: center;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
  font-family: 'PT Sans', sans-serif;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 25%;
  font-family: 'Open Sans', sans-serif;
  margin-top: 35%;
  margin-left: 37%;
}


.infoboks {
  width: 75%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 9%;
  margin-left: 12.5%;
  border-radius: 5px;
  background-color: #D0C8BA;
}

.infotekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
}

.slangeboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 35%;
  margin-left: 5%;
  border-radius: 5px;
}

.slangebokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 45%;
  margin-left: 18%;
}

.abeboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.abebokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.pingvinboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.pingvinbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.lemurboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.lemurbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.bagkulissenboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.bagkulissenbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.lysshowboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.lysshowbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.zoolukkerboks1 {
  width: 90%;
  height: 11%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
}

.zoolukkerbokstekst1 {
  font-family: 'Open Sans', sans-serif;
  color: #9d2429;
  text-align: center;
  font-size: 15px;
  margin-top: 13%;
  margin-left: 18%;
}

.logohviddagplan {
  width: 18%;
  margin-left: 41%;
  margin-top: 8%;
  margin-bottom: 8%;
}


/* ---------------ÅBNINGSTIDER OG PRISER ---------------*/

/* JANUAR MARTS 2020 */

.januarmartstider {
  width: 90%;
  height: 71%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 25%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.januarmartstideroverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.januarmartstiderunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.januar1februar7 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.januar1februar7text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.februar8februar15 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.februar8februar15text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.februar16februar29 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.februar16februar29text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.marts1marts31 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.marts1marts31text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

/* APRIL JUNI 2020 */

.apriljunitider {
  width: 90%;
  height: 123%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 155%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.apriljunitideroverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.apriljunitiderunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.april1april3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.april1april3text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.april4april13 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.april4april13text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.april14maj7 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.april14maj7text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj8 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj8text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj9maj20 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj9maj20text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj21maj24 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj21maj24text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj25maj29 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj25maj29text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.maj30juni1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.maj30juni1text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.juni2juni30 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.juni2juni30text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

/* JULI OKTOBER 2020 */

.julioktobertider {
  width: 90%;
  height: 74%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 377%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.julioktobertideroverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.julioktobertiderunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.juli1august9 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.juli1august9text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.august10oktober9 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.august10oktober9text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.oktober10oktober17 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.oktober10oktober17text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.oktober18 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.oktober18text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.oktober19oktober31 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.oktober19oktober31text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

/* NOVEMBER DECEMBER 2020 */

.novemberdecembertider {
  width: 90%;
  height: 87%;
  text-align: center;
  position: absolute;
  z-index: -1;
  display: inline-block;
  margin-top: 512%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #ffff;
}

.novemberdecembertideroverskrift {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #9d2429;
  text-align: center;
  font-size: 18px;
}

.novemberdecembertiderunderoverskrift {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: -4%;
  margin-bottom: 10%;
}

.november1november12 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.november1november12text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.november13 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.november13text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.november14november23 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.november14november23text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.december24 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.december24text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.december25december30 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.december25december30text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}

.december31 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
}

.december31text {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
  padding-left: 5%;
  margin-top: -4%;
}




/* FOOTER */

.footer {
  background-color: #9d2429;
  height: 190px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
}

.footer a {
  color: #EBE3D8;
  text-decoration: none;
}

.footertekst {
  color: #EBE3D8;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  margin-top: 3.5%;
  margin-bottom: 5%;
}

.fblogo {
  width: 12%;
  margin-left: 37%;
  margin-top: 5%;
}

.instalogo {
  width: 12%;
  margin-top: 5%;
}
